.form-wrapper {
  padding: 0 !important;
}

.form.block form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  justify-items: stretch;
}

.field-wrapper {
  width: 100%;
}

.field-wrapper label {
  font-size: 18px;
  padding-bottom: 13px;
  display: block;
  font-weight: 500;
}

.form.block form input,
.form.block form select,
.form.block form textarea {
  width: 100%;
  display: block;
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #dadada;
  font-size: 18px;
  margin-bottom: 0;
  background: #fff;
  color: #171536;
  box-sizing: border-box;
  transition: border-color 0.2s;
  height: 48px;
}

.form.block form input:focus,
.form.block form select:focus,
.form.block form textarea:focus {
  outline: none;
}

.form.block form button.button {
  margin: 20px;
  padding: 10px 0;
  font-size: 22.5px;
  border-radius: 100px;
  background: #3B63FB;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
  grid-column: span 2;
  justify-self: center;
  width: 155px;
  height: 59px;
}

.form.block form button.button:hover {
  background: #224eb6;
}

input::placeholder,
textarea::placeholder, select::placeholder {
  color: #909090;
  opacity: 1;
  font-size: 18px;
}

select option::selection  {
  color: #909090!important;
}

.field-wrapper.submit-class,
.field-wrapper.selection-wrapper {
  grid-column: span 2;
}

.field-wrapper.submit-button {
  text-align: center;
}

.field-wrapper.selection-wrapper label {
  font-size: 15px;
  font-weight: 400;
  padding-left: 13px;
  margin: 0;
  padding-bottom: 0;
  width: 95%;
  display: inline-block;
  vertical-align: middle;
}

/* Hide the native checkbox */
.intake-form form input[type="checkbox"] {
  appearance: none;

  /* Remove default checkbox styling */
  width: 20px;
  height: 20px;
  border: 2px solid #292929;
  vertical-align: middle;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  padding: 0;
  display: inline-block;
}

/* Use the ::after pseudo-element to display a checkmark */
.intake-form form input[type="checkbox"]:checked::after,
intake-form form input[type="checkbox"]:checked {
  content: '\2713';

  /* Unicode checkmark */
  color: white;
  font-weight: bold;
  position: absolute;
  top: -2px;
  left: 3px;
  font-size: 13px;
}

/* When the checkbox is checked, add custom styles */
.intake-form form input[type="checkbox"]:checked {
  background-color: #292929;
  
  /* Custom background color */
}

.selection-wrapper p {
  color: #292929;
}

.selection-wrapper a {
  color: #1473E6;
  text-decoration: none;
}

.submit-class button {
  margin: 10px 0 20px;
  padding: 10px 0;
  font-size: 22.5px;
  border-radius: 100px;
  background: #3B63FB;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
  grid-column: span 2;

  /* Full width of the form */
  justify-self: center;
  width: 155px;
  height: 59px;
}

.submit-class {
  text-align: center;
}

.submit-class button:hover {
  background: #274DEA;
}


@media (width <=900px) {
  .form.block {
    padding: 30px;
  }

  .form.block form {
    grid-template-columns: 1fr;
    gap: 25px 0;
  }

  .form.block form button.button,
  .field-wrapper.selection-wrapper {
    grid-column: 1;
  }
}