.form-wrapper {
  padding: 0 !important;
}

.form.block form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: calc(24vw / var(--layout-size));
  justify-items: stretch;
}

.field-wrapper {
  width: 100%;
}

.field-wrapper label {
  font-size: calc(18vw / var(--layout-size));
  padding-bottom: calc(13vw / var(--layout-size));
  display: block;
  font-weight: 500;
}

.form.block form input,
.form.block form select,
.form.block form textarea {
  width: 100%;
  display: block;
  padding: 0 calc(12vw / var(--layout-size));
  border-radius: calc(10vw / var(--layout-size));
  border: calc(2vw / var(--layout-size)) solid #dadada;
  font-size: calc(18vw / var(--layout-size));
  margin-bottom: 0;
  background: #fff;
  color: #171536;
  box-sizing: border-box;
  transition: border-color 0.2s;
  height: calc(48vw / var(--layout-size));
}

.form.block form input:focus,
.form.block form select:focus,
.form.block form textarea:focus {
  outline: none;
}

.form.block form button.button {
  margin: calc(20vw / var(--layout-size));
  padding: calc(10vw / var(--layout-size)) 0;
  font-size: calc(22.5vw / var(--layout-size));
  border-radius: calc(100vw / var(--layout-size));
  background: #3B63FB;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
  grid-column: span 3;
  justify-self: center;
  width: calc(155vw / var(--layout-size));
  height: calc(58vw / var(--layout-size));
}

.form.block form button.button:hover {
  background: #224eb6;
}

input::placeholder,
textarea::placeholder,
select::placeholder,
select:invalid {
  color: #909090;
  opacity: 1;
  font-size: calc(18vw / var(--layout-size));
}

.intake-form .form.block form input,
.intake-form .form.block form select {
  font-size: calc(18vw / var(--layout-size));
  color: #909090;
}

.intake-form .form.block form select {
  appearance: none;
  -webkit-appearance: none;
  /* eslint-disable-line */
  -moz-appearance: none;
  /* eslint-disable-line */
  background-image: url('/coca-cola/assets/media_10a2636634b2a3ea989210c46ce4d0a2b8059d912.png');
  /* your arrow icon */
  background-repeat: no-repeat;
  background-position: center right calc(20vw / var(--layout-size));
  /* position on right with padding */
  background-size: calc(8vw / var(--layout-size)) calc(5vw / var(--layout-size));
  padding-right: calc(30vw / var(--layout-size));
}

select option::selection {
  color: #909090 !important;
}

.field-wrapper.submit-class,
.field-wrapper.selection-wrapper {
  grid-column: span 3;
}

.field-wrapper.submit-button {
  text-align: center;
}

.field-wrapper.selection-wrapper label {
  font-size: calc(15vw / var(--layout-size));
  font-weight: 400;
  padding-left: calc(13vw / var(--layout-size));
  margin: 0;
  padding-bottom: 0;
  width: 95%;
  display: inline-block;
  vertical-align: middle;
}

/* Hide the native checkbox */
.intake-form form input[type="checkbox"] {
  appearance: none;

  /* Remove default checkbox styling */
  width: calc(20vw / var(--layout-size));
  height: calc(20vw / var(--layout-size));
  border: calc(2vw / var(--layout-size)) solid #292929;
  vertical-align: middle;
  border-radius: calc(6vw / var(--layout-size));
  background-color: #fff;
  cursor: pointer;
  position: relative;
  padding: 0;
  display: inline-block;
}

/* Use the ::after pseudo-element to display a checkmark */
.intake-form form input[type="checkbox"]:checked::after,
intake-form form input[type="checkbox"]:checked {
  content: '\2713';

  /* Unicode checkmark */
  color: white;
  font-weight: bold;
  position: absolute;
  top: calc(-2vw / var(--layout-size));
  left: calc(3vw / var(--layout-size));
  font-size: calc(13vw / var(--layout-size));
}

/* When the checkbox is checked, add custom styles */
.intake-form form input[type="checkbox"]:checked {
  background-color: #292929;

  /* Custom background color */
}

.selection-wrapper p {
  color: #292929;
}

.selection-wrapper a {
  color: #1473E6;
  text-decoration: none;
}

.submit-class button {
  margin: calc(10vw / var(--layout-size)) 0 calc(20vw / var(--layout-size));
  padding: calc(10vw / var(--layout-size)) 0;
  font-size: calc(22.5vw / var(--layout-size));
  border-radius: calc(100vw / var(--layout-size));
  background: #3B63FB;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
  grid-column: span 3;

  /* Full width of the form */
  justify-self: center;
  width: calc(155vw / var(--layout-size));
  height: calc(59vw / var(--layout-size));
}

.submit-class {
  text-align: center;
}

.submit-class button:hover {
  background: #274DEA;
}


@media (width <=900px) {
  .form.block {
    padding: calc(30vw / var(--layout-size));
  }

  .form.block form {
    grid-template-columns: 1fr;
    gap: calc(25vw / var(--layout-size));
  }

  .form.block form button.button,
  .field-wrapper.selection-wrapper {
    grid-column: 1;
  }
}