.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img, .columns video {
  width: 100%;
  /* background-color: #2C2C2C; */
} 

.columns .video-placeholder { 
  overflow: hidden;
  display: block;
}

.columns video {
  position: relative;
  right: -2px;
  max-height: calc(450vw / var(--layout-size));
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img, .columns > div > .columns-img-col video {
  display: block;
}

/*track-landing-page css start*/
main .custom-2-column-section {
  max-width: calc(1670vw / var(--layout-size));
  margin: 0 auto !important;
}

.custom-2-column-section h2 {
  text-align: center;
  margin: 0 0 calc(40vw / var(--layout-size)) 0;
  text-align: left;
}

.custom-2-column-section h3 {
  margin: 0 0 calc(20vw / var(--layout-size)) 0;
}

.custom-2-column-section p:not(:first-child) {
  font-size: calc(17vw / var(--layout-size));
  max-width: calc(635vw / var(--layout-size));
  font-weight: 600;
}

.custom-2-column-section .button-container {
  margin-top: calc(30vw / var(--layout-size));
}

.custom-2-column-section a.button {
  margin: 0;
  font-size: calc(18vw / var(--layout-size));
  font-weight: bold;
}

.custom-2-column-section p,
.custom-2-column-section p {
  /* font-family: Adobe Clean, Arial, Helvetica, sans-serif; */
}

.custom-2-column-section .columns-wrapper {
  padding: 0;
}

.custom-2-column-section .columns>div {
  gap: calc(50vw / var(--layout-size));
}

.custom-2-column-section .columns>div>div {
  background: #272727;
  padding: calc(40vw / var(--layout-size));
  border-radius: calc(16vw / var(--layout-size));
  border: calc(1.5vw / var(--layout-size)) solid #444;
  transition: all 0.4s ease;
  position: relative;
}

.custom-2-column-section .columns>div>div:hover {
  border-color: #2C2C2C;
  background: #2C2C2C;
  box-shadow: 0 calc(4vw / var(--layout-size)) calc(4vw / var(--layout-size)) 0 rgba(0, 0, 0, 0.25);
}

.custom-2-column-section .columns>div>div::before {
  content: "";
  display: block;
  width: calc(100% + (7vw / var(--layout-size)));
  height: calc(100% + (7vw / var(--layout-size)));
  position: absolute;
  background: #FC7D00;
  border-radius: calc(16vw / var(--layout-size));
  background: linear-gradient(145deg, rgba(252, 125, 0, 1) 0%, rgba(255, 72, 133, 1) 74%);
  left: calc(-3.5vw / var(--layout-size));
  top: calc(-3.5vw / var(--layout-size));
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease;
}

.custom-2-column-section .columns>div>div:hover::before {
  opacity: 1;
}

.custom-2-column-section .columns>div>div:nth-child(1):before {
  /* background: #6C5EEE;
  background: linear-gradient(145deg, rgba(108, 94, 238, 1) 0%, rgba(197, 62, 112, 1) 100%, rgba(255, 86, 73, 1) 100%); */
  background: url(/coca-cola/assets/media_173a58e111a1c3e1f8fc8453d319fb14f66f889cb.png) no-repeat;
  background-size: cover;
  width: calc(100% + (12vw / var(--layout-size)));
  height: calc(100% + (12vw / var(--layout-size)));
  left: calc(-6vw / var(--layout-size));
  top: calc(-6vw / var(--layout-size));
  background-position: center;
}

.custom-2-column-section .columns>div>div:nth-child(2):before {
  /* background: #6C5EEE;
  background: linear-gradient(145deg, rgba(108, 94, 238, 1) 0%, rgba(197, 62, 112, 1) 100%, rgba(255, 86, 73, 1) 100%); */
  background: url(/coca-cola/assets/media_114daa25ded116ee560a9032294b531571c2289e4.png) no-repeat;
  background-size: cover;
  width: calc(100% + (12vw / var(--layout-size)));
  height: calc(100% + (12vw / var(--layout-size)));
  left: calc(-6vw / var(--layout-size));
  top: calc(-6vw / var(--layout-size));
  background-position: center;
}

.custom-2-column-section .columns img {
  max-width: 100%;
  max-height: calc(360vw / var(--layout-size));
  object-fit: contain;
  object-position: center;
}

.custom-2-column-section.be-a-marketer-module-disabled .columns>div>div::before {
  background: url('/coca-cola/assets/media_173a58e111a1c3e1f8fc8453d319fb14f66f889cb.png') no-repeat;
  background-size: cover;
  width: calc(100% + (12vw / var(--layout-size)));
  height: calc(100% + (12vw / var(--layout-size)));
  left: calc(-6vw / var(--layout-size));
  top: calc(-6vw / var(--layout-size));
  background-position: center;
}

.custom-2-column-section.be-a-designer-module-disabled .columns>div>div::before {
  background: url('/coca-cola/assets/media_114daa25ded116ee560a9032294b531571c2289e4.png') no-repeat;
  background-size: cover;
  width: calc(100% + (12vw / var(--layout-size)));
  height: calc(100% + (12vw / var(--layout-size)));
  left: calc(-6vw / var(--layout-size));
  top: calc(-6vw / var(--layout-size));
  background-position: center;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
