:root,
:host {
  /* CSS variables if needed */
  --layout-size: 19.2;
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --layout-size: 19.2;
  /* fonts */
  --body-font-family: "adobe-clean", arial, helvetica, sans-serif;
  --heading-font-family: adobe-clean-display, sans-serif;

  /* body sizes */
  --body-font-size-m: calc(22vw / var(--layout-size));
  --body-font-size-s: calc(19vw / var(--layout-size));
  --body-font-size-xs: calc(17vw / var(--layout-size));

  /* heading sizes */
  --heading-font-size-xxl: calc(55vw / var(--layout-size));
  --heading-font-size-xl: calc(44vw / var(--layout-size));
  --heading-font-size-l: calc(34vw / var(--layout-size));
  --heading-font-size-m: calc(27vw / var(--layout-size));
  --heading-font-size-s: calc(24vw / var(--layout-size));
  --heading-font-size-xs: calc(22vw / var(--layout-size));

  /* nav heights */
  --nav-height: calc(64vw / var(--layout-size));
  --breadcrumbs-height: calc(34vw / var(--layout-size));
  --header-height: var(--nav-height);
}

.sketch-screen-wrapper>[class*="sketch-screen"]:not(.sketch-screen-1):not(.cola-thank-you) {
  padding: calc(40vw / var(--layout-size)) calc(40vw / var(--layout-size)) !important;
  box-sizing: border-box;
  border-radius: calc(10vw / var(--layout-size));
  border: calc(1vw / var(--layout-size)) solid #DEDEDE;
  background: #FFF;
  box-shadow: 0 0 calc(2vw / var(--layout-size)) rgb(0 0 0 / 12%), 0 calc(2vw / var(--layout-size)) calc(2vw / var(--layout-size)) rgb(0 0 0 / 4%), 0 calc(2vw / var(--layout-size)) calc(2vw / var(--layout-size)) rgb(0 0 0 / 8%);
  height: (760vw / var(--layout-size));
}

/* Remove all default AEM container margins */
body:has(.express-modal) {
  margin: 0 !important;
  padding: 0 !important;
}

main:has(.express-modal) {
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}

.section:has(.express-modal) {
  margin: 0 !important;
  padding: 0 !important;
}

/* Your express modal block should take full width */
.express-modal {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.express-modal video {
  margin-left: calc(16vw / var(--layout-size));
  margin-top: calc(-60vw / var(--layout-size));
  width: calc(601vw / var(--layout-size)) !important;
}

.express-modal .caption {
  width: calc(580vw / var(--layout-size)) !important;
}

.express-modal-content .sketch-screen-4 .caption {
  width: calc(697vw / var(--layout-size)) !important;
}

.sketch-screen-wrapper:has(.express-modal) {
  padding: 0 !important;
  margin: 0 !important;
}

.sketch-screen-wrapper .sketch-screen-4 {
  /* height: unset !important;
  border-radius: unset !important;
  border: unset !important;
  box-shadow: unset !important;
  width: unset !important; 
  width: calc(1323vw / var(--layout-size));*/
}

.sketch-screen-wrapper .sketch-screen-1 {
  height: calc(740vw / var(--layout-size));
}

.sketch-screen-wrapper .sketch-screen-1>div {
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* [class*=" sketch-screen"]>[class*="sketch-screen"]::after {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
} */

/** readd after adding polling */

/* .sketch-screen-1 .button-container {
  display: none;
} */

[class*=" sketch-screen"] .block:not(.cola-thank-you)>div {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

[class*=" sketch-screen"] .block.sketch-screen-5>div {
  align-items: center;
}

[class*=" sketch-screen"] .block.sketch-screen-5>div>div:first-child {
  width: 100%;
}

.sketch-screen-3-container .block>div>div:first-child>p img {
  padding-bottom: calc(60vw / var(--layout-size));
}

[class*=" sketch-screen"] .block:not(.cola-thank-you)>div>div:first-child>p img {
  padding-bottom: calc(150vw / var(--layout-size));
  padding-top: calc(20vw / var(--layout-size));
  width: calc(350vw / var(--layout-size));
}

.sketch-screen-3-container .block>div>div:first-child>p img {
  padding-bottom: calc(60vw / var(--layout-size));
}

[class*=" sketch-screen"] .block:not(.cola-thank-you) h2+p {
  width: calc(720vw / var(--layout-size));
  /* font-family: 'Adobe Clean', Arial, Helvetica, sans-serif; */
  font-style: normal;
  font-weight: 400;
  font-size: calc(24vw / var(--layout-size));
  line-height: 120%;
  color: #000;
  padding: calc(40vw / var(--layout-size)) 0 calc(50vw / var(--layout-size));
}

[class*=" sketch-screen"] .block:not(.cola-thank-you) h2 {
  font-style: normal;
  font-weight: 900;
  font-size: calc(105vw / var(--layout-size));
  line-height: 95%;
  margin: 0;
  letter-spacing: -0.01em;
  color: #000;
}

[class*=" sketch-screen"] .block:not(.cola-thank-you) .button-container a.button {
  margin: 0;
  font-weight: 600;
  font-size: calc(22.1212vw / var(--layout-size));
  line-height: calc(27vw / var(--layout-size));
  display: inline-flex;
  gap: calc(11vw / var(--layout-size));
  ;
  align-items: center;
  height: calc(59vw / var(--layout-size));
}

[class*=" sketch-screen"] .block:not(.cola-thank-you) .button-container a.disabled {
  background-color: #a6b1e1;
  /* lighter gray-blue */
  color: #e0e0e0;
  /* faded text */
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
  /* prevents clicking */
  border: none;
}

[class*=" sketch-screen"] .block:not(.cola-thank-you) .button-container a.button:hover {
  background-color: #274DEA;
}

.sketch-screen-1 .button-container a.button::before {
  content: '';
  width: calc(28vw / var(--layout-size));
  height: calc(28vw / var(--layout-size));
  display: inline-block;
  background-image: url("/sharpie/assets/media_1aad7609e4630c128b47c030995c6a270a9c8187d.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: calc(3vw / var(--layout-size));
}

.sketch-screen-1 div>div:last-child {
  text-align: right;
}

.sketch-screen-1 .video-placeholder:after {
  position: absolute;
  content: '';
  display: block;
  width: calc(325vw / var(--layout-size));
  height: calc(320vw / var(--layout-size));
  background: red;
  left: calc(-170vw / var(--layout-size));
  top: 54%;
  background: url('https://main--activations-da--adobedevxsc.aem.live/sharpie/assets/media_1c1e092818770e1b3b35bb662fbbd1652ea5e6fd1.png') no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
}

body:has(.sketch-screen-1)::after {
  position: absolute;
  content: '';
  display: block;
  width: calc(412vw / var(--layout-size));
  height: calc(250vw / var(--layout-size));
  left: calc(175vw / var(--layout-size));
  bottom: 0;
  background: url('https://main--activations-da--adobedevxsc.aem.live/sharpie/assets/media_19f177b9f8518e443539b7a31aa2ccc4aec14635f.png') no-repeat;
  background-size: contain;
  background-position: bottom;
}

.sketch-screen.sketch-screen-1:after {
  content: '';
  display: block;
  position: fixed;
  background-size: contain;
  background-image: url('/sharpie/assets/media_13ac0c3dbf2c9e43f4718d88fdf8e3a9abc504175.png');
  height: calc(179vw / var(--layout-size));
  z-index: 2;
  right: 0;
  width: calc(346vw / var(--layout-size));
  bottom: 0;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media(min-width:3000px) {
  .sketch-screen.sketch-screen-1:after {
    height: calc(279vw / var(--layout-size));
    width: calc(500vw / var(--layout-size));
  }
}

.sketch-screen.sketch-screen-1::before {
  content: '';
  display: block;
  position: fixed;
  background-size: contain;
  background-image: url('/sharpie/assets/media_119a7549bb108840ba1dd065d43ba8c8109ffcb37.png');
  height: calc(301vw / var(--layout-size));
  z-index: 2;
  top: 0;
  width: calc(201vw / var(--layout-size));
  right: 0;
  background-repeat: no-repeat;
  background-position: bottom;
}

.sketch-screen-4 p:first-child img {
  padding-bottom: calc(70vw / var(--layout-size)) !important;
}

/* div.sketch-screen-5 p.caption {
  position: absolute;
  right: 56px;
  top: 60px;
} */

.sketch-screen-wrapper>[class*="sketch-screen"]:not(.sketch-screen-1):not(.sketch-screen-5):not(.cola-thank-you) div div:last-child>p:first-child {
  text-align: left;
  font-weight: 400;
  font-size: calc(17.8561vw / var(--layout-size));
  ;
  line-height: 130%;
  padding: calc(16vw / var(--layout-size)) calc(45vw / var(--layout-size)) calc(16vw / var(--layout-size)) calc(16vw / var(--layout-size));
  margin-bottom: calc(20vw / var(--layout-size));
  margin-left: auto;
  width: calc(697vw / var(--layout-size));
  min-width: calc(346.92vw / var(--layout-size));
  height: calc(78vw / var(--layout-size));
  background: linear-gradient(88.65deg, #FFF 30.5%, #E9E9E9 240.26%);
  border: calc(0.5vw / var(--layout-size)) solid #C6C6C6;
  box-shadow: 0px calc(4.8vw / var(--layout-size)) calc(9.7031vw / var(--layout-size)) rgba(0 0 0 / 10%);
  border-radius: calc(8vw / var(--layout-size));
  color: #222;
  position: relative;
  z-index: 1;
}

.sketch-screen-5 p:first-child img {
  padding-bottom: calc(30vw / var(--layout-size)) !important;
}

.sketch-screen-5 p.button-container,
.sketch-screen-5.block>div>div:first-child>p:nth-child(3) {
  text-align: center;
}

/* .sketch-screen-5 p.caption::after, */
.sketch-screen-wrapper>[class*="sketch-screen"]:not(.sketch-screen-1):not(.sketch-screen-5):not(.cola-thank-you) div div:last-child>p:first-child:after {
  content: '';
  width: calc(22vw / var(--layout-size));
  height: calc(22vw / var(--layout-size));
  display: inline-block;
  background-image: url("/sharpie/assets/tooltip.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(13.5vw / var(--layout-size));
}

.sketch-screen>video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Make ANY video inside the block fill the screen */
.sketch-screen>video,
.sketch-screen .video video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* fills box; crops if needed */
  display: block;
  pointer-events: none;

  /* avoid control chrome popping up */
}

.sketch-screen .video-placeholder video {
  height: auto;
  width: calc(700vw / var(--layout-size));
}

.sketch-screen-wrapper>[class*="sketch-screen"]:not(.sketch-screen-1):not(.cola-thank-you):not(.sketch-screen-5) .video-placeholder video {
  max-height: calc(582vw / var(--layout-size));
  object-fit: contain;
}

.sketch-screen.sketch-screen-5 .video-placeholder video {
  width: 100%;
  height: 59vh;
}


/* Generic "screen" container helper (if your markup uses a class like .sketch-screen) */
.sketch-screen {
  position: relative;
  overflow: hidden;
  border-radius: calc(12vw / var(--layout-size));
}

/* Insterstitial pages css end   */

.sketch-screen .video-placeholder {
  position: relative;
  height: auto;
}

.sketch-screen.sketch-screen-3 .video-placeholder,
.sketch-screen.sketch-screen-4 .video-placeholder {
  max-width: calc(635vw / var(--layout-size));
}

.sketch-screen-container>.default-content-wrapper>p>picture>img {
  width: calc(350vw / var(--layout-size));
}

/* express modal css */
.sketch-screen-4.express-modal * {
  width: unset !important;
  min-width: unset !important;
}

.sketch-screen-4.express-modal h2 {
  font-size: calc(80vw / var(--layout-size)) !important;
}

.sketch-screen-4.express-modal>div>div {
  width: 50% !important;
}

.sketch-screen-4.express-modal .caption {
  height: auto !important;
}