.sketch-screen-wrapper>[class*="sketch-screen"]:not(.sketch-screen-1):not(.cola-thank-you) {
  padding: 40px 56px !important;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  background: #FFF;
  box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 6px rgb(0 0 0 / 4%), 0 4px 12px rgb(0 0 0 / 8%);
  height: 800px;
}

.sketch-screen-wrapper .sketch-screen-1 {
  height: 740px;
}

.sketch-screen-wrapper .sketch-screen-1>div {
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* [class*=" sketch-screen"]>[class*="sketch-screen"]::after {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
} */

/** readd after adding polling */
/* .sketch-screen-1 .button-container {
  display: none;
} */

[class*=" sketch-screen"] .block:not(.cola-thank-you)>div {
  display: flex;
  justify-content: space-between;
  margin: 0;
}



[class*=" sketch-screen"] .block:not(.cola-thank-you)>div>div:first-child>p img {
  padding-bottom: 150px;
  padding-top: 20px;
}

.sketch-screen-3-container .block>div>div:first-child>p img {
  padding-bottom: 60px;
}

[class*=" sketch-screen"] .block:not(.cola-thank-you) h2+p {
  width: 720px;
  /* font-family: 'Adobe Clean', Arial, Helvetica, sans-serif; */
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #000;
  padding: 40px 0 50px;
}

[class*=" sketch-screen"] .block:not(.cola-thank-you) h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 105px;
  line-height: 95%;
  margin: 0;
  letter-spacing: -0.01em;
  color: #000;
}

[class*=" sketch-screen"] .block:not(.cola-thank-you) .button-container a.button {
  margin: 0;
  font-weight: 600;
  font-size: 22.1212px;
  line-height: 27px;
  display: inline-flex;
  gap: 11px;
  align-items: center;
  height: 59px;
}

[class*=" sketch-screen"] .block:not(.cola-thank-you) .button-container a.disabled {
  background-color: #a6b1e1;
  /* lighter gray-blue */
  color: #e0e0e0;
  /* faded text */
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
  /* prevents clicking */
  border: none;
}

[class*=" sketch-screen"] .block:not(.cola-thank-you) .button-container a.button:hover {
  background-color: #274DEA;
}

.sketch-screen-1 .button-container a.button::before {
  content: '';
  width: 28px;
  height: 28px;
  display: inline-block;
  background-image: url("/sharpie/assets/media_1aad7609e4630c128b47c030995c6a270a9c8187d.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 3px;
}

.sketch-screen-1 div>div:last-child {
  text-align: right;
}

.sketch-screen.sketch-screen-1:after {
  content: '';
  display: block;
  position: fixed;
  background-size: contain;
  background-image: url('/sharpie/assets/media_13ac0c3dbf2c9e43f4718d88fdf8e3a9abc504175.png');
  height: 179px;
  z-index: 2;
  right: 0;
  width: 346px;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: bottom;
}

.sketch-screen.sketch-screen-1::before {
  content: '';
  display: block;
  position: fixed;
  background-size: contain;
  background-image: url('/sharpie/assets/media_119a7549bb108840ba1dd065d43ba8c8109ffcb37.png');
  height: 301px;
  z-index: 2;
  top: 0;
  width: 201px;
  right: 0;
  background-repeat: no-repeat;
  background-position: bottom;
}
.sketch-screen-4 p:first-child img {
    padding-bottom: 70px!important;}
/* div.sketch-screen-5 p.caption {
  position: absolute;
  right: 56px;
  top: 60px;
} */

.sketch-screen-wrapper>[class*="sketch-screen"]:not(.sketch-screen-1):not(.sketch-screen-5):not(.cola-thank-you) div div:last-child>p:first-child {
  text-align: left;
  font-weight: 400;
  font-size: 17.8561px;
  line-height: 130%;
  padding: 16px 45px 16px 16px;
  margin-bottom: 20px;
  margin-left: auto;
  width: 697px;
  min-width: 346.92px;
  height: 78px;
  background: linear-gradient(88.65deg, #FFFFFF 30.5%, #E9E9E9 240.26%);
border: 0.5px solid #C6C6C6;
box-shadow: 0px 4.85156px 9.70312px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #222;
  position: relative;
  z-index: 1;
}

.sketch-screen-5 p:first-child img {
  padding-bottom: 30px !important;
}



/* .sketch-screen-5 {
  position: relative;
} */



.sketch-screen-5 p.button-container,
.sketch-screen-5.block>div>div:first-child>p:nth-child(3) {
  text-align: center;
}

/* .sketch-screen-5 p.caption::after, */
.sketch-screen-wrapper>[class*="sketch-screen"]:not(.sketch-screen-1):not(.sketch-screen-5):not(.cola-thank-you) div div:last-child>p:first-child::after {
  content: '';
  width: 22px;
  height: 22px;
  display: inline-block;
  background-image: url("/sharpie/assets/tooltip.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13.5px;
}

.sketch-screen>video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Make ANY video inside the block fill the screen */
.sketch-screen>video,
.sketch-screen .video video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* fills box; crops if needed */
  display: block;
  pointer-events: none;

  /* avoid control chrome popping up */
}

.sketch-screen .video-placeholder video {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* Generic "screen" container helper (if your markup uses a class like .sketch-screen) */
.sketch-screen {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

/* Insterstitial pages css end   */

.sketch-screen .video-placeholder {
  position: relative;
  width: auto;
  max-width: 700px;
  height: auto;
}

.sketch-screen.sketch-screen-3 .video-placeholder,
.sketch-screen.sketch-screen-4 .video-placeholder {
  max-width: 655px;
}

.sketch-screen.sketch-screen-5 .video-placeholder {
  max-width: 83%;
  margin: auto;
}