.complex-form-container .complex-form-wrapper {
  max-width: unset;
  padding: 0;
  width: 100vw;
  height: calc(100vh - 3px);
}

.complex-form {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;

}

.complex-form > .form-overlay {
  display: flex;
  width: 943px;
  padding: 40px 56px;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  border-radius: 10px;
  border: 1px solid #DEDEDE;

  background: #FFF;

  /* Drop shadow/elevated */
  box-shadow: 0 0 2px 0 var(--Alias-drop-shadow-elevated-key, rgba(0, 0, 0, 0.12)), 0 2px 6px 0 var(--Alias-drop-shadow-transition, rgba(0, 0, 0, 0.04)), 0 4px 12px 0 var(--Alias-drop-shadow-ambient, rgba(0, 0, 0, 0.08));
}

.complex-form picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.complex-form picture img {
  flex-shrink: 0;
  width: 100%;
  /* aspect-ratio: 190/127; */
}