* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {

 font-family:"adobe-clean", Arial, Helvetica, sans-serif;
  padding: 74px;
  color: #ffffff !important;
  position: relative;
  min-height: 100vh;
}

/* .intake-form::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color:#1e1e1e;
 
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
} */





header,
footer {
  display: none;
}

body {
  /* overflow: hidden; */
}


.intake-form .default-content-wrapper {
  padding: 0px !important;
  /* max-width: 100% !important; */
}

main>.section {
  margin: 0px !important;
}

.coca-cola main>.section.intake-form>div {
  max-width: 890px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.intake-form {
  border-radius: 10px;
  padding: 0px 45px;
  margin: 0px;
}

.intake-form h2 {
  font-size: 70px;
  line-height: 95%;
  width: 95%;
  margin: 30px 0px 30px;
}

.intake-form h2 strong {
  font-weight: normal;
}

.intake-form h2+p {
 font-size: 28px;
line-height: 32px;
  border-top: 1px solid #686868;
  margin: 0;
  padding: 30px 0px;
  font-weight: 400;
}
.intake-form .form.block form input, .intake-form .form.block form select {
font-size: 14.78px;
}

.adobecheckbox label#form-adobeupdate-label {
    font-size: 12px;
}
.intake-form input:-internal-autofill-selected{background-color: #ffffff!important;}
.intake-form .form.block form select { margin-right: 20px;}
select:invalid {
  color: #909090!important;  /* also affects the select if no valid value is chosen */
}
input::placeholder, select::placeholder {
  font-size: 14.78px;
line-height: 100%;
}


.intake-form  .field-wrapper label {
    font-size: 14.78px; font-weight: 400;letter-spacing: 0;}

.intake-form .submit-class {
    text-align: left;
}
.intake-form .submit-class button{ margin: 0!important;}
.adobecheckbox  {
    padding: 20px 0px;
}
.intake-form .field-wrapper.submit-class,  .intake-form .field-wrapper.selection-wrapper,  .intake-form .field-wrapper.html-wrapper  {grid-column: span 3;}   
.intake-form .html-wrapper p{
font-size: 11.59px;
line-height: 150%;
letter-spacing: 0px;
padding-bottom: 20px;
}        
.intake-form form input[type="checkbox"] {
    border: 2px solid #ffffff;
    background-color: transparent;
}
/* video for intake form */
.coca-cola .intake-form .video-wrapper {
    bottom: 8%;
    right: 40px;
    width: 42%;
}

/*track-landing-page css start*/
main .custom-2-column-section {
  max-width: 1670px;
  margin: 0 auto !important;
}
 
.custom-2-column-section h2 {
  text-align: center;
  margin: 0 0 40px 0;
}
 
.custom-2-column-section h3 {
  margin: 0px 0 20px 0;
}
 
.custom-2-column-section p:not(:first-child) {
  font-size: 17px;
  max-width: 635px;
  font-weight: 600;
}
 
.custom-2-column-section .button-container {
  margin-top: 30px;
}
 
.custom-2-column-section a.button {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
 
.custom-2-column-section p,
.custom-2-column-section p {
  /* font-family: Adobe Clean, Arial, Helvetica, sans-serif; */
}
 
.custom-2-column-section .columns-wrapper {
  padding: 0;
}
 
.custom-2-column-section .columns>div {
  gap: 50px;
}
 
.custom-2-column-section .columns>div>div {
  background: #242424;
  padding: 40px;
  border-radius: 16px;
  border: 1.5px solid #444;
  transition: all 0.4s ease;
  position: relative;
}
 
.custom-2-column-section .columns>div>div:hover {
  border-color: #2C2C2C;
  background: #2C2C2C;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
 
.custom-2-column-section .columns>div>div::before {
  content: "";
  display: block;
  width: calc(100% + 7px);
  height: calc(100% + 7px);
  position: absolute;
  background: #FC7D00;
  border-radius: 16px;
  background: linear-gradient(145deg, rgba(252, 125, 0, 1) 0%, rgba(255, 72, 133, 1) 74%);
  left: -3.5px;
  top: -3.5px;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease;
}
 
.custom-2-column-section .columns>div>div:hover::before {
  opacity: 1;
}
 
.custom-2-column-section .columns>div>div:nth-child(2):before {
  background: #6C5EEE;
  background: linear-gradient(145deg, rgba(108, 94, 238, 1) 0%, rgba(197, 62, 112, 1) 100%, rgba(255, 86, 73, 1) 100%);
}
 
.custom-2-column-section .columns img {
  max-width: 100%;
  max-height: 360px;
  object-fit: contain;
  object-position: center;
}
 .custom-2-column-section.be-a-marketer-module-disabled .columns>div>div::before {
  background: url('/coca-cola/assets/media_173a58e111a1c3e1f8fc8453d319fb14f66f889cb.png') no-repeat;
  background-size: cover;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  left: -6px;
  top: -6px;
  background-position: center;
}
 
.custom-2-column-section.be-a-designer-module-disabled .columns>div>div::before {
  background: url('/coca-cola/assets/media_114daa25ded116ee560a9032294b531571c2289e4.png') no-repeat;
  background-size: cover;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  left: -6px;
  top: -6px;
  background-position: center;
}

 
 
 
@media(min-width:1921px) {
  .custom-2-column-section h2 {
    font-size: 60px;
  }
 
  .custom-2-column-section h3 {
    font-size: 50px;
  }
}
 
@media(max-width:1921px) and (min-width:992px) {
  .custom-2-column-section h2 {
    font-size: calc(60vw / 19.2);
  }
 
  .custom-2-column-section h3 {
    font-size: calc(40vw / 19.2);
  }
}
 
/*track-landing-page css start*/
 

/*completion page css start*/
.completion-page .columns img {
  max-height: 300px;
}
 
.completion-page .default-content-wrapper:nth-last-child(1) {
  margin-top: 50px;
}
 
.completion-page .default-content-wrapper:nth-last-child(1) * {
  text-align: center;
}
 
.completion-page .default-content-wrapper:nth-last-child(1) a {
  border: 2px solid #fff;
  background-color: transparent;
}
 
.custom-2-column-section a {
  padding: 0.62em 1.2em !important;
}
 
.be-a-designer-module-disabled .columns>div>div:nth-child(1) a,
.be-a-marketer-module-disabled .columns>div>div:nth-child(2) a {
  pointer-events: none;
  color: #8f8f8f;
  background: #505050;
}
 
.be-a-designer-module-disabled .columns>div>div:nth-child(1)::before,
.be-a-marketer-module-disabled .columns>div>div:nth-child(2)::before {
  display: none;
}
 
.be-a-designer-module-disabled .columns>div>div:nth-child(1):hover,
.be-a-marketer-module-disabled .columns>div>div:nth-child(2):hover {
  background: #242424;
  border-color: #444;
}
 
.be-a-designer-module-disabled .columns>div>div:nth-child(1) *,
.be-a-marketer-module-disabled .columns>div>div:nth-child(2) * {
  color: #505050;
}
 
.be-a-designer-module-disabled .columns>div>div:nth-child(1) img,
.be-a-marketer-module-disabled .columns>div>div:nth-child(2) img {
  filter: brightness(0.5);
}
 
.be-a-designer-module-disabled .columns>div>div:nth-child(1),
.be-a-marketer-module-disabled .columns>div>div:nth-child(2) {
  position: relative;
}
 
.be-a-designer-module-disabled .columns>div>div:nth-child(1)::after,
.be-a-marketer-module-disabled .columns>div>div:nth-child(2)::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url('/coca-cola/assets/media_1ded921d97570617b0e062cd6f3ba34c48ea0cdd3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: -20px;
  left: -20px;
}
 
@media(max-height:1000px) {
  .completion-page h2 {
    font-size: calc(45vw / 19.2);
  }
 
  .completion-page h3 {
    font-size: calc(35vw / 19.2);
  }
}
 
/*completion page css end*/

/* Thank you form css start */
 
main div.completion-section {
  max-width: 960px;
  margin: 0 auto !important;
  background: #fff;
  border: 1px solid #DEDEDE;
  padding: 50px 56px;
  border-radius: 10px;
}
 
main div.completion-section>* {
  padding: 0;
}
 
main .completion-section h2 strong,
main .completion-section h2 {
  font-weight: 800;
}
 
main .coca-cola-thank-you-section h2 {
    margin-top: 55px;
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;
}
 
main .coca-cola-thank-you-section h2+p {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #B6B6B6;
  font-size: 20px;
  font-family: "adobe-clean", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
 .completion-section.coca-cola-thank-you-section  .form-wrapper .form>form .field-wrapper {
  width: 50%;
 }
main div.completion-section .default-content-wrapper p:nth-child(1) {
  text-align: center;
}
 
.completion-section .form-wrapper .form>form {
  display: flex;
  flex-wrap: wrap;
  column-gap: unset;
  row-gap: 20px;
}
 
.completion-section .form-wrapper .form>form .field-wrapper {
  grid-column: unset;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.completion-section .form-wrapper .form>form .field-wrapper.hidden-wrapper {
  display: none;
}
 
.completion-section .form-wrapper .form>form .field-wrapper.submit-wrapper {
  grid-column: unset;
  width: 100%;
  margin-top: 30px;
}
 
.completion-section .form-wrapper .form>form button.button {
  padding: 15px 30px;
  width: unset;
  height: unset;
  margin: 0;
  font-size: 18px;
}
 
.completion-section .form-wrapper .form>form .field-wrapper input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  vertical-align: middle;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  display: inline-block;
}
 
.completion-section .form-wrapper .form>form .field-wrapper input[type="checkbox"]:checked {
  background-color: #292929;
}
 
.completion-section .form-wrapper .form>form .field-wrapper input[type="checkbox"]:checked::after {
  content: '\2713';
  color: white;
  font-weight: bold;
  position: absolute;
  top: -2px;
  left: 3px;
  font-size: 13px;
}
 
.completion-section .form-wrapper {
  margin-top: 30px;
}
 
.completion-section .form-wrapper .form>form .field-wrapper label {
  width: unset;
  cursor: pointer;
  font-size: 19.2px;
  font-weight: 700;
}
 
main div.completion-section.coca-cola-thank-you-section {
  background: #242424;
  border-color: #444444;
  max-width: 940px;
  border-radius: 16px;
}
 
.custom-video-image .default-content-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
 
.custom-video-image * {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
 
.custom-video-image .default-content-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
@media(min-width:1440px) and (min-height:950px) {
  main div.completion-section.coca-cola-thank-you-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
 
/* Thank you form css end */

/* thank you page */
.cola-thank-you-wrapper {
  padding: 0px!important;
}
.cola-thank-you > div {
  display: grid;
  grid-template-columns: 763px 684px;
  align-items: center;
  justify-content:space-between;  
  height: 754px;
  padding: 40px 55px;
  background: #242424;
border: 1.5px solid #444444;
border-radius: 16.2px;
position: relative;
}

.cola-thank-you h2 {
   font-weight: 900;
font-size: 73px;
line-height: 95%;
    padding: 54px 0px 25px;
    margin: 0;
}
.cola-thank-you h2+p {
   font-size: 22px;
line-height: 30px;
    margin: 0;
    padding: 0px 0px 62px;
    font-weight: 400;
    width: 673px;
}
.cola-thank-you .button-container {
    display: inline-flex;
  
}
.cola-thank-you .button-container a{margin: 0px;
    height: 48px;   margin-right: 30px;
    font-size: 18.3215px;
line-height: 23px;}
 .cola-thank-you-container {
  position: relative;
 }
.cola-thank-you p.button-container+ p.button-container a{background-color: transparent;border:2px solid #ffffff}
/* .cola-thank-you p.button-container+ p.button-container a:hover{background-color: #00000;border:2px solid #3b63fb} */



  body:has(main .cola-thank-you) {
       display: flex;
    align-items: center;
    justify-content: center;
  }
    body main:has( .cola-thank-you) {

      width: 100%;
      max-width: 1690px;
  }


