* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {

 font-family:"adobe-clean", Arial, Helvetica, sans-serif;
  padding: 74px;
  color: #ffffff !important;
  position: relative;
  min-height: 100vh;
}

/* .intake-form::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color:#1e1e1e;
 
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
} */





header,
footer {
  display: none;
}

body {
  /* overflow: hidden; */
}


.intake-form .default-content-wrapper {
  padding: 0px !important;
  /* max-width: 100% !important; */
}

main>.section {
  margin: 0px !important;
}

.coca-cola main>.section.intake-form>div {
  max-width: 890px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.intake-form {
  border-radius: 10px;
  padding: 0px 45px;
  margin: 0px;
}

.intake-form h2 {
  font-size: 70px;
  line-height: 95%;
  margin: 30px 0px 30px;
}

.intake-form h2 strong {
  font-weight: normal;
}

.intake-form h2+p {
 font-size: 28px;
line-height: 32px;
  border-top: 1px solid #686868;
  margin: 0;
  padding: 30px 0px;
  font-weight: 400;
}
.intake-form .form.block form input, .intake-form .form.block form select {
font-size: 14.78px;
}

.adobecheckbox label#form-adobeupdate-label {
    font-size: 12px;
}
.intake-form input:-internal-autofill-selected{background-color: #ffffff!important;}
.intake-form .form.block form select { margin-right: 20px;}
select:invalid {
  color: #909090!important;  /* also affects the select if no valid value is chosen */
}
input::placeholder, select::placeholder {
  font-size: 14.78px;
line-height: 100%;
}


.intake-form  .field-wrapper label {
    font-size: 14.78px; font-weight: 400;letter-spacing: 0;}

.intake-form .submit-class {
    text-align: left;
}
.intake-form .submit-class button{ margin: 0!important;}
.adobecheckbox  {
    padding: 20px 0px;
}
.intake-form .field-wrapper.submit-class,  .intake-form .field-wrapper.selection-wrapper,  .intake-form .field-wrapper.html-wrapper  {grid-column: span 3;}   
.intake-form .html-wrapper p{
font-size: 11.59px;
line-height: 150%;
letter-spacing: 0px;
padding-bottom: 20px;
}        
.intake-form form input[type="checkbox"] {
    border: 2px solid #ffffff;
    background-color: transparent;
}
/* video for intake form */
.coca-cola .intake-form .video-wrapper {
    bottom: 8%;
    right: 40px;
    width: 42%;
}

/*track-landing-page css start*/
main .custom-2-column-section {
  max-width: 1670px;
  margin: 0 auto !important;
}
 
.custom-2-column-section h2 {
  text-align: center;
  margin: 0 0 40px 0;
}
 
.custom-2-column-section h3 {
  margin: 0px 0 20px 0;
}
 
.custom-2-column-section p:not(:first-child) {
  font-size: 17px;
  max-width: 635px;
  font-weight: 600;
}
 
.custom-2-column-section .button-container {
  margin-top: 30px;
}
 
.custom-2-column-section a.button {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
 
.custom-2-column-section p,
.custom-2-column-section p {
  /* font-family: Adobe Clean, Arial, Helvetica, sans-serif; */
}
 
.custom-2-column-section .columns-wrapper {
  padding: 0;
}
 
.custom-2-column-section .columns-2-cols>div {
  gap: 50px;
}
 
.custom-2-column-section .columns-2-cols>div>div {
  background: #242424;
  padding: 40px;
  border-radius: 16px;
  border: 1.5px solid #444;
  transition: all 0.4s ease;
  position: relative;
}
 
.custom-2-column-section .columns-2-cols>div>div:hover {
  border-color: #2C2C2C;
  background: #2C2C2C;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
 
.custom-2-column-section .columns-2-cols>div>div::before {
  content: "";
  display: block;
  width: calc(100% + 7px);
  height: calc(100% + 7px);
  position: absolute;
  background: #FC7D00;
  border-radius: 16px;
  background: linear-gradient(145deg, rgba(252, 125, 0, 1) 0%, rgba(255, 72, 133, 1) 74%);
  left: -3.5px;
  top: -3.5px;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease;
}
 
.custom-2-column-section .columns-2-cols>div>div:hover::before {
  opacity: 1;
}
 
.custom-2-column-section .columns-2-cols>div>div:nth-child(2):before {
  background: #6C5EEE;
  background: linear-gradient(145deg, rgba(108, 94, 238, 1) 0%, rgba(197, 62, 112, 1) 100%, rgba(255, 86, 73, 1) 100%);
}
 
.custom-2-column-section .columns img {
  max-width: 100%;
  max-height: 360px;
  object-fit: contain;
  object-position: center;
}
 
.custom-bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  max-width: unset;
  background: #000000;
}
 
.custom-bg-video * {
  margin: 0 !important;
  padding: 0 !important;
}
 
.custom-bg-video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.3);
}
 
 
 
@media(min-width:1921px) {
  .custom-2-column-section h2 {
    font-size: 60px;
  }
 
  .custom-2-column-section h3 {
    font-size: 50px;
  }
}
 
@media(max-width:1921px) and (min-width:992px) {
  .custom-2-column-section h2 {
    font-size: calc(60vw / 19.2);
  }
 
  .custom-2-column-section h3 {
    font-size: calc(40vw / 19.2);
  }
}
 
/*track-landing-page css start*/
 

/*completion page css start*/
.completion-page .columns img {
  max-height: 300px;
}
 
.completion-page .default-content-wrapper:nth-last-child(1) {
  margin-top: 50px;
}
 
.completion-page .default-content-wrapper:nth-last-child(1) * {
  text-align: center;
}
 
.completion-page .default-content-wrapper:nth-last-child(1) a {
  border: 2px solid #fff;
  background-color: transparent;
}
 
.custom-2-column-section a {
  padding: 0.62em 1.2em !important;
}
 
.be-a-designer-module-disabled .columns-2-cols>div>div:nth-child(1) a,
.be-a-marketer-module-disabled .columns-2-cols>div>div:nth-child(2) a {
  pointer-events: none;
  color: #8f8f8f;
  background: #505050;
}
 
.be-a-designer-module-disabled .columns-2-cols>div>div:nth-child(1)::before,
.be-a-marketer-module-disabled .columns-2-cols>div>div:nth-child(2)::before {
  display: none;
}
 
.be-a-designer-module-disabled .columns-2-cols>div>div:nth-child(1):hover,
.be-a-marketer-module-disabled .columns-2-cols>div>div:nth-child(2):hover {
  background: #242424;
  border-color: #444;
}
 
.be-a-designer-module-disabled .columns-2-cols>div>div:nth-child(1) *,
.be-a-marketer-module-disabled .columns-2-cols>div>div:nth-child(2) * {
  color: #505050;
}
 
.be-a-designer-module-disabled .columns-2-cols>div>div:nth-child(1) img,
.be-a-marketer-module-disabled .columns-2-cols>div>div:nth-child(2) img {
  filter: brightness(0.5);
}
 
.be-a-designer-module-disabled .columns-2-cols>div>div:nth-child(1),
.be-a-marketer-module-disabled .columns-2-cols>div>div:nth-child(2) {
  position: relative;
}
 
.be-a-designer-module-disabled .columns-2-cols>div>div:nth-child(1)::after,
.be-a-marketer-module-disabled .columns-2-cols>div>div:nth-child(2)::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url('https://main--activations-da--adobedevxsc.aem.live/coca-cola/assets/media_1ded921d97570617b0e062cd6f3ba34c48ea0cdd3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: -20px;
  left: -20px;
}
 
@media(max-height:1000px) {
  .completion-page h2 {
    font-size: calc(45vw / 19.2);
  }
 
  .completion-page h3 {
    font-size: calc(35vw / 19.2);
  }
}
 
/*completion page css end*/