* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  background-color: #000;
  font-family: "adobe-clean", Arial, Helvetica, sans-serif;
  padding: calc(74vw / var(--layout-size));
  color: #ffffff !important;
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-size: cover;
  font-size: calc(18 / var(--layout-size));
}

/* .intake-form::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color:#1e1e1e;
 
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
} */





header,
footer {
  display: none;
}

body {
  /* overflow: hidden; */
}


.intake-form .default-content-wrapper {
  padding: 0 !important;
  /* max-width: 100% !important; */
}

main>.section {
  margin: 0 !important;
}

.coca-cola main>.section.intake-form>div {
  max-width: calc(890vw / var(--layout-size)) !important;
  padding: 0 !important;
  margin: 0 !important;
}

.intake-form {
  border-radius: calc(10vw / var(--layout-size));
  padding: 0 calc(45vw / var(--layout-size));
  margin: 0;
}

.coca-cola .intake-form .default-content-wrapper>p>picture>img {
  width: calc(289vw / var(--layout-size));
}

.intake-form h2 {
  font-size: calc(70vw / var(--layout-size));
  line-height: 95%;
  width: 95%;
  margin: calc(30vw / var(--layout-size)) 0 calc(30vw / var(--layout-size));
}

.intake-form h2 strong {
  font-weight: normal;
}

.intake-form h2+p {
  font-size: calc(28vw / var(--layout-size));
  line-height: calc(32vw / var(--layout-size));
  border-top: calc(1vw / var(--layout-size)) solid #686868;
  margin: 0;
  padding: calc(30vw / var(--layout-size)) 0;
  font-weight: 400;
}

.intake-form .form.block form input,
.intake-form .form.block form select {
  font-size: calc(14.78vw / var(--layout-size));
}

.adobecheckbox label#form-adobeupdate-label {
  font-size: calc(12vw / var(--layout-size));
}

.intake-form input:-internal-autofill-selected {
  background-color: #ffffff !important;
}

.intake-form .form.block form select {
  margin-right: calc(20vw / var(--layout-size));
}

select:invalid {
  color: #909090 !important;
  /* also affects the select if no valid value is chosen */
}

input::placeholder,
select::placeholder {
  font-size: calc(14.78vw / var(--layout-size));
  line-height: 100%;
}


.intake-form .field-wrapper label {
  font-size: calc(14.78vw / var(--layout-size));
  font-weight: 400;
  letter-spacing: 0;
}

.intake-form .submit-class {
  text-align: left;
}

.intake-form .submit-class button {
  margin: 0 !important;
}

.adobecheckbox {
  padding: calc(20vw / var(--layout-size)) 0;
}

.intake-form .field-wrapper.submit-class,
.intake-form .field-wrapper.selection-wrapper,
.intake-form .field-wrapper.html-wrapper {
  grid-column: span 3;
}

.intake-form .html-wrapper p {
  font-size: calc(11.59vw / var(--layout-size));
  line-height: 150%;
  letter-spacing: 0;
  padding-bottom: calc(20vw / var(--layout-size));
}

.intake-form form input[type="checkbox"] {
  border: calc(2vw / var(--layout-size)) solid #ffffff;
  background-color: transparent;
}

/* video for intake form */
.coca-cola .intake-form .video-wrapper {
  bottom: 8%;
  right: calc(40vw / var(--layout-size));
  width: 42%;
}

@media(min-width:1921px) {
  .custom-2-column-section h2 {
    font-size: calc(60vw / var(--layout-size));
  }

  .custom-2-column-section h3 {
    font-size: calc(50vw / var(--layout-size));
  }
}

@media(max-width:1921px) and (min-width:992px) {
  .custom-2-column-section h2 {
    font-size: calc(60vw / var(--layout-size));
  }

  .custom-2-column-section h3 {
    font-size: calc(40vw / var(--layout-size));
  }
}

/*track-landing-page css start*/


/*completion page css start*/
.completion-page .columns img {
  max-height: calc(290vw / var(--layout-size));
}

.completion-page .default-content-wrapper:nth-last-child(1) {
  margin-top: calc(50vw / var(--layout-size));
}

.completion-page .default-content-wrapper:nth-last-child(1) * {
  text-align: center;
}

.completion-page .default-content-wrapper:nth-last-child(1) a {
  border: calc(2vw / var(--layout-size)) solid #fff;
  background-color: transparent;
}

.completion-page .default-content-wrapper:nth-last-child(1) a:hover,
.cola-thank-you p.button-container+p.button-container a:hover {
  background-color: rgba(178, 178, 178, 0.15);
}

.custom-2-column-section a {
  padding: 0.62em 1.2em !important;
}

.be-a-designer-module-disabled .columns>div>div:nth-child(1) a,
.be-a-marketer-module-disabled .columns>div>div:nth-child(2) a {
  pointer-events: none;
  color: #8f8f8f;
  background: #505050;
}

.be-a-designer-module-disabled .columns>div>div:nth-child(1)::before,
.be-a-marketer-module-disabled .columns>div>div:nth-child(2)::before {
  display: none;
}

.be-a-designer-module-disabled .columns>div>div:nth-child(1):hover,
.be-a-marketer-module-disabled .columns>div>div:nth-child(2):hover {
  background: #242424;
  border-color: #444;
}

.be-a-designer-module-disabled .columns>div>div:nth-child(1) *,
.be-a-marketer-module-disabled .columns>div>div:nth-child(2) * {
  color: #505050;
}

.be-a-designer-module-disabled .columns>div>div:nth-child(1) img,
.be-a-marketer-module-disabled .columns>div>div:nth-child(2) img {
  filter: brightness(0.5);
}

.be-a-designer-module-disabled .columns>div>div:nth-child(1),
.be-a-marketer-module-disabled .columns>div>div:nth-child(2) {
  position: relative;
}

.be-a-designer-module-disabled .columns>div>div:nth-child(1)::after,
.be-a-marketer-module-disabled .columns>div>div:nth-child(2)::after {
  content: "";
  display: block;
  width: calc(40vw / var(--layout-size));
  height: calc(40vw / var(--layout-size));
  background: url('/coca-cola/assets/media_1ded921d97570617b0e062cd6f3ba34c48ea0cdd3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: calc(-20vw / var(--layout-size));
  left: calc(-18vw / var(--layout-size));
}

body main .be-a-designer-module-disabled h2,
body main .be-a-marketer-module-disabled h2 {
  margin: 0 0 calc(50vw / var(--layout-size)) 0;
}

.completion-page.be-a-designer-module-disabled .default-content-wrapper:nth-last-child(1),
.completion-page.be-a-marketer-module-disabled .default-content-wrapper:nth-last-child(1) {
  margin-top: calc(55vw / var(--layout-size));
}

.completion-page.be-a-designer-module-disabled .default-content-wrapper:nth-last-child(1) .button-container,
.completion-page.be-a-marketer-module-disabled .default-content-wrapper:nth-last-child(1) .button-container {
  margin-top: 0;
}


@media(max-height:1000) {
  .completion-page h2 {
    font-size: calc(45vw / var(--layout-size));
  }

  .completion-page h3 {
    font-size: calc(35vw / var(--layout-size));
  }
}

/*completion page css end*/

/* Thank you form css start */

main div.completion-section {
  max-width: calc(960vw / var(--layout-size));
  margin: 0 auto !important;
  background: #fff;
  border: calc(1vw / var(--layout-size)) solid #DEDEDE;
  padding: calc(50vw / var(--layout-size)) calc(56vw / var(--layout-size));
  border-radius: calc(10vw / var(--layout-size));
}

main div.completion-section>* {
  padding: 0;
}

main .completion-section h2 strong,
main .completion-section h2 {
  font-weight: 800;
}

.coca-cola-thank-you-section .default-content-wrapper p picture img {
  width: calc(289vw / var(--layout-size));
}

main .coca-cola-thank-you-section h2 {
  margin-top: calc(55vw / var(--layout-size));
  font-weight: 900;
  font-size: calc(60vw / var(--layout-size));
  line-height: 100%;
}

main .coca-cola-thank-you-section h2+p {
  margin-top: calc(30vw / var(--layout-size));
  padding-top: calc(30vw / var(--layout-size));
  border-top: calc(1vw / var(--layout-size)) solid #B6B6B6;
  font-size: calc(20vw / var(--layout-size));
  font-family: "adobe-clean", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.completion-section.coca-cola-thank-you-section .form-wrapper .form>form .field-wrapper {
  width: 50%;
}

body:has(main .completion-section) {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.coca-cola:has(main .custom-bg-video) {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.coca-cola main:has(.custom-bg-video) {
  width: 100%;
}

body.coca-cola main:has(.custom-bg-video) {
  width: 100%;
}

.sketch-screen-container .sketch-screen-wrapper .cola-thank-you p picture img {
  width: calc(289vw / var(--layout-size));
}

main div.completion-section .default-content-wrapper p:nth-child(1) {
  text-align: center;
}

.completion-section .form-wrapper .form>form {
  display: flex;
  flex-wrap: wrap;
  column-gap: unset;
  row-gap: calc(20vw / var(--layout-size));
}

.completion-section .form-wrapper .form>form .field-wrapper {
  grid-column: unset;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.completion-section .form-wrapper .form>form .field-wrapper.hidden-wrapper {
  display: none;
}

.completion-section .form-wrapper .form>form .field-wrapper.submit-wrapper {
  grid-column: unset;
  width: 100%;
  margin-top: calc(30vw / var(--layout-size));
}

.completion-section .form-wrapper .form>form button.button {
  padding: calc(15vw / var(--layout-size)) calc(30vw / var(--layout-size));
  width: unset;
  height: unset;
  margin: 0;
  font-size: calc(18vw / var(--layout-size));
}

.completion-section .form-wrapper .form>form .field-wrapper input[type="checkbox"] {
  appearance: none;
  width: calc(20vw / var(--layout-size));
  height: calc(20vw / var(--layout-size));
  border: calc(2vw / var(--layout-size)) solid #ffffff;
  vertical-align: middle;
  border-radius: calc(6vw / var(--layout-size));
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  display: inline-block;
}

.completion-section .form-wrapper .form>form .field-wrapper input[type="checkbox"]:checked {
  background-color: #292929;
}

.completion-section .form-wrapper .form>form .field-wrapper input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  background: url('https://main--activations-da--adobedevxsc.aem.live/sharpie/assets/media_1faf147dde39382c94f14a7750775daee26a1e471.png') no-repeat;
  background-size: contain;
  background-position: center;
  width: calc(12vw / var(--layout-size));
  height: calc(12vw / var(--layout-size));
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(13vw / var(--layout-size));
}

.completion-section .form-wrapper {
  margin-top: calc(30vw / var(--layout-size));
}

.completion-section .form-wrapper .form>form .field-wrapper label {
  width: unset;
  cursor: pointer;
  font-size: calc(19.2vw / var(--layout-size));
  font-weight: 700;
}

main div.completion-section.coca-cola-thank-you-section {
  background: #242424;
  border-color: #444444;
  max-width: calc(940vw / var(--layout-size));
  border-radius: calc(16vw / var(--layout-size));
}

.custom-video-image .default-content-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.custom-video-image * {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.custom-video-image .default-content-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(min-width:1440) and (min-height:950) {
  main div.completion-section.coca-cola-thank-you-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

/* Thank you form css end */

/* thank you page */
.cola-thank-you-wrapper {
  padding: 0 !important;
}

.cola-thank-you>div {
  display: grid;
  grid-template-columns: calc(763vw / var(--layout-size)) calc(684vw / var(--layout-size));
  align-items: center;
  justify-content: space-between;
  height: calc(754vw / var(--layout-size));
  padding: calc(40vw / var(--layout-size)) calc(55vw / var(--layout-size));
  background: #242424;
  border: calc(1.5vw / var(--layout-size)) solid #444444;
  border-radius: calc(16.2vw / var(--layout-size));
  position: relative;
}

.cola-thank-you h2 {
  font-weight: 900;
  font-size: calc(73vw / var(--layout-size));
  line-height: 95%;
  padding: calc(54vw / var(--layout-size)) 0 calc(25vw / var(--layout-size));
  margin: 0;
}

.cola-thank-you h2+p {
  font-size: calc(22vw / var(--layout-size));
  line-height: calc(30vw / var(--layout-size));
  margin: 0;
  padding: 0 0 calc(62vw / var(--layout-size));
  font-weight: 400;
  width: calc(673vw / var(--layout-size));
}

.cola-thank-you .button-container {
  display: inline-flex;

}

.cola-thank-you .button-container a {
  margin: 0;
  height: calc(48vw / var(--layout-size));
  margin-right: calc(30vw / var(--layout-size));
  font-size: calc(18.3215vw / var(--layout-size));
  line-height: calc(23vw / var(--layout-size));
  font-weight: 700;
}

.cola-thank-you-container {
  position: relative;
}

.cola-thank-you p.button-container+p.button-container a {
  background-color: transparent;
  border: calc(2vw / var(--layout-size)) solid #ffffff
}

/* .cola-thank-you p.button-container+ p.button-container a:hover{background-color: #00000;border:2px solid #3b63fb} */



body:has(main .cola-thank-you) {
  display: flex;
  align-items: center;
  justify-content: center;
}

body main:has(.cola-thank-you) {
  width: 100%;
  max-width: calc(1690vw / var(--layout-size));
}
