body.modal-open {
  overflow: hidden;
}

.modal dialog::backdrop {
  background-color: rgba(0 0 0 / 70%);
}

.modal dialog {
  overscroll-behavior: none;
  overflow-y: hidden;
  border: 1px solid var(--dark-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 56px;
  gap: 40px;
  isolation: isolate;
  position: relative;
  width: 720px;
  min-width: 328px;
  max-width: 720px;
  height: auto;
  max-height: fit-content;
  background: #FFF;
  border-radius: 15px;
}

.modal-wrapper .modal-content {
  text-align: center;
  padding: 0;
  margin: 0;
}

.modal dialog .modal-content {
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior: none;
  width: 100%;
  max-height: calc(100dvh - (2 * var(--header-height)) - 48px);
  padding: 24px;
  padding-top: 0;
  margin-top: 44px;
}

/* @media (width >= 900px) {
  .modal dialog {
    width: calc(100vw - 64px);
  }
  
  .modal dialog .modal-content {
    max-height: calc(100dvh - (2 * var(--header-height)) - 64px);
    padding: 32px;
    padding-top: 0;
  }
} */

main > .modal {
  display: none;
}

main.modal-wrapper > .modal {
  display: block;
  position: absolute;
}

.modal .close-button {
  /* position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px; */
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: var(--text-color);
  line-height: 0;
}

.modal .close-button .icon.icon-close {
  content: '';
  width: 24px;
  height: 24px;
}

.modal .close-button .icon.icon-close::before,
.modal .close-button .icon.icon-close::after {
  content: '';
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background-color: currentcolor;
}

.modal .close-button .icon.icon-close::after {
  transform: translate(-50%, -50%) rotate(-45deg)
}

.modal dialog .section {
  padding: 0;
}

h4#upload-complete {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  font-family: adobe-clean, arial, helvetica, sans-serif;
  color: #2c2c2c;
  margin: 0 0 16px;
}

h4#upload-complete+p {
  font-family: adobe-clean, arial, helvetica, sans-serif;
  color: #2c2c2c;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin: 0;
}

h4#upload-complete+p+p a {
  margin: 35px 0 0;
}

h4#upload-complete+p+p a.button {
  background-color: #3B63FB;
  padding: 10px 32px;
}

h4#upload-complete+p+p a.button:hover {
  background-color: #274DEA;
}